body{
    background-image: url("../images/Paper Graphic.png");
}

.card{
    display: flex;
    flex-wrap: wrap;
    border: 10px solid white;
    border-radius: 10px;
    transition-duration: .3s;
    box-shadow: 5px 5px 5px grey;
    width: 25%;
    height: 60%;
    background-color: whitesmoke;
    z-index: 3;
    justify-content: center;
    margin: 1%;
}

.Card-Containers{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly   ;
    align-items: center;
    width: 80%;
    height: 65vh;
    margin: auto;
    margin-top: 7%;
}

.card-label{
    width: 90%;
    height: 30%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 40px;
    font-weight: bold;
    color: rgb(40, 40, 40);
}


.card-img{
    width: auto;
    height: 70%;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.07);
    z-index: 10;
}


.card-link {
    text-decoration: none;
    color: inherit;
    display: contents;
}

* {
    font-family: Tahoma;
}

#content{
    height: 100%;
}

/* phones (≤480px) */
@media (max-width: 480px) {
    .project {
        flex-direction: column;
        width: 100%;
    }

    .graphics, 
    .description {
        width: 100%;
    }

    p {
        font-size: 30px;
        padding: 6%;
    }

    .graphics img {
        max-height: 400px;
    }

    .Card-Containers{
        height: auto;
    }

}

/* tablets (481px–768px) */
@media (max-width: 768px){
    p {
        font-size: 32px;
        padding: 6%;
    }
}

/* small laptops (769px–1024px) */
@media (max-width: 1200px){
    p {
        font-size: 26px;
    }
    .card{
        width: 30%;
        height: 40%;
    }
    .Card-Containers{
        margin-top: 20%;
    }
}