body{
    background-image: url("../images/Paper Graphic.png");
}


.container{
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    margin: auto;
    margin-top: 2%;
}

.links{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 7%;
    margin-left: -2%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5%;
    max-width: 47%;
    max-height: 80vh;
}

.imgLink{
    max-width: 16%;
    height: auto;
    display: inline-block;
    margin-right: 5%;
}

.linkInfo{
    display: flex;
    width: 90%;
    font-weight: bold;
    align-items: center;
    margin: auto;
}

.info{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin-top: 9%;
}


.profile{
    border-radius: 50%;
    width: 30%;
    border: solid white 10px;
}

.description{
    width: 85%;
    text-align: center;
    background-color: white;
    padding: 4%;
    border-radius: 15px;
    font-size: 28px;
}

p {
    font-size: 35px;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 1500px){
    .container{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .info{
        max-width:80%;
    }
    .links{
        max-width: 80%;
        padding: 2%;
        margin-bottom: 5%;
    }
}

@media (max-width: 1200px){
    .container{
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }
    .info{
        max-width:80%;
    }
    .links{
        max-width: 80%;
        padding: 2%;
    }
    p{
        font-size: 60%;
    }
}

@media (max-width: 768px){
    .profile{
        width: 50%;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .info{
        max-width:90%;
    }
    .links{
        max-width: 90%;
        padding: 2%;
    }
    p{
        font-size: 150%;
    }
}

@media (max-width: 480px){
    .profile{
        width: 50%;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .info{
        max-width:90%;
    }
    .links{
        max-width: 90%;
        padding: 2%;
    }
    p{
        font-size: 100%;
    }
    .description{
        font-size: 200%;
    }
}