*{
  font-family: Tahoma;
  font-size: 72px;
}

.navcontainer{
  background-image: url('../images/Pencil Navbar.png');
  background-size: 100%; 
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  position: fixed;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.6));
}

.navbar {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 70%;
  width: 80%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 6px 10px rgb(53, 52, 52);
}

.navbar li{
  /* background-image:url('../images/Paper Navbar.png'); */
}